{% extends "projects/_base.html" %}
{% block title %} Hello World {% endblock %}
{% block content %}
<div class="heros bg-gray" style="height: 100%; padding-top: 18%;">
    <div class="hero-body">
        <h1 class="text-center">Blazer</h1>
        <p class="text-center">Coming Soon... <i class="icon icon-emoji"></i></p>
        <div class="container">
            <div class="columns">
                
                <div class="column col-3 col-mx-auto">
                    <div class="input-group">
                        <input type="text" class="form-input" placeholder="Signup to know when...">
                        <button class="btn btn-primary input-group-btn">Submit</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}